<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.test3_mybatis.mapper.MyBatisMapper">
 	<insert id="insertBoard">
		INSERT
			 INTO board
			 VALUES (
			 	#{board_num}+1		-- 글번호
			 	,#{board_name}	--	작성자명
			 	,#{board_pass}	--	패스워드
			 	,#{board_subject}	-- 제목
			 	,#{board_content}	-- 내용
			 	,#{board_file}	-- 파일명
			 	,#{board_num} +1				-- board_re_ref
			 	,0				-- board_re_lev
			 	,0				-- board_re_seq
			 	,0				-- 조회수
			 	,now()			-- 작성일
			 )
 	</insert>
 	<select id="selectMaxBoardNum" resultType="int">
 		SELECT IFNULL(MAX(board_num),0) FROM board
 	</select>
 	
 	<select id="selectUser" resultType="com.itwillbs.test3_mybatis.vo.MemberVO">
 			SELECT *
 			 FROM member
 			  WHERE id = #{id}
 			  AND passwd = #{passwd}
 	</select>
 	
 	<select id="selectBoardList" resultType="com.itwillbs.test3_mybatis.vo.BoardVO">
 		SELECT *
 		 FROM board
 		 ORDER BY 
 		 	board_re_ref DESC
 		 	, board_re_seq ASC
 		 Limit 10
 		 	
 	</select>
 	
 	
 	<insert id="insertMember" >
 		INSERT
 			INTO member
 			VALUES (
 				 null,
 				 #{name},
				 #{id},
				 #{passwd},
				 #{email},
				 #{gender},
				 now(),
				 'N'
 		)
 	</insert>
 	
 	<!-- 
 	selectKey 태그 사용 구문 실행 후 결과를 다시 insert 구문에 반영 가능 타 dml도 활용가능 
 	
 	 -->
 	
 	<insert id="insertBoard2">
 		<selectKey keyProperty="board_num" resultType="int" order="BEFORE">
 			SELECT IFNULL(MAX(board_num),0) FROM board
 		</selectKey>
 		
		INSERT
			 INTO board
			 VALUES (
			 	#{board_num}+1		-- 글번호
			 	,#{board_name}	--	작성자명
			 	,#{board_pass}	--	패스워드
			 	,#{board_subject}	-- 제목
			 	,#{board_content}	-- 내용
			 	,#{board_file}	-- 파일명
			 	,#{board_num} +1				-- board_re_ref
			 	,0				-- board_re_lev
			 	,0				-- board_re_seq
			 	,0				-- 조회수
			 	,now()			-- 작성일
			 )
 	</insert>
 	
 	
</mapper>
